.back_to_top {
  position: fixed;
  width: 55px;
  height: 55px;
  background-color: $brand-color;
  bottom: 19pt;
  right: 72pt;
  cursor: pointer;
  overflow: hidden;
  transition: ease all 0.3s;
  z-index: 9999;

  &.hide {
    right: -72pt !important;
  }

  &:hover {
    background-color: $brand-active-color;
  }

  .arrow_icon {
    color: $adaptive-white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -52%);
  }
}
