.blog_item {
  background-color: $adaptive-white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 11px $secondary-shadow-color;
  cursor: pointer;
  transition: ease all 0.3s;
  margin-bottom: 1.2rem;

  &:hover {
    transform: scale(0.98);
  }

  .featured_image {
    border-radius: 0.375rem;
    object-fit: cover;
    width: 100% !important;
    height: 16.125rem;
    max-height: 16.125rem;

    &.mobile {
      height: 14.0625rem;
      max-height: 14.0625rem;
    }
  }

  .blog_description {
    display: -webkit-box;
    line-height: 1.875rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blog_author {
    display: flex;
    align-items: center;

    .profile_photo {
      border-radius: 100%;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
    }
  }
}

.featured_blog_subitem {
  .blog_title {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }
}
