.button {
  background-color: $brand-color !important;
  color: $adaptive-white !important;
  border: 2px solid $brand-color !important;
  text-transform: none !important;
  font-family: "Inter", sans-serif !important;
  padding: 0.4rem 1.5rem !important;
  transition: ease all 0.3s !important;
  box-shadow: 0px 2px 11px rgba(71, 71, 71, 0.2) !important;
  font-size: 1rem !important;

  &:hover {
    background-color: $brand-active-color !important;
    border-color: $brand-active-color !important;
    transform: scale(0.95) !important;
  }

  &.outlined {
    background-color: transparent !important;
    color: $brand-color !important;
    border: 2px solid $brand-color !important;
    box-shadow: none !important;

    &:hover {
      border-color: $brand-active-color !important;
      color: $brand-active-color !important;
    }
  }

  &.link {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    color: $brand-color !important;
    box-shadow: none !important;
    font-weight: bold !important;
    font-size: 0.875rem !important;

    &:hover {
      color: $brand-active-color !important;
      transform: scale(1) !important;
    }
  }

  &.white {
    background-color: $adaptive-white !important;
    color: $brand-color !important;
    border: 2px solid $adaptive-white !important;

    &:hover {
      border-color: $adaptive-white3 !important;
      background-color: $adaptive-white3 !important;
    }
  }
}
