.suspense_card {
  box-shadow: 0px 2px 11px $secondary-shadow-color;
  background-color: $adaptive-white;
  position: absolute;
  max-width: 77rem;
  box-sizing: border-box !important;
  z-index: 100;
}
