#footer {
  background-color: $adaptive-dark2;
  color: $adaptive-white !important;

  .netlify_link {
    transition: ease all 0.3s;

    &:hover {
      color: $brand-color !important;
      text-decoration: underline;
    }
  }
}
