@import "../../assets/sass/variables.scss";

.navigation {
  box-shadow: 0px 2px 11px $secondary-shadow-color;
  width: 100%;
  background-color: $adaptive-white;
  z-index: 9999;
  position: sticky;
  top: 0;

  .nav_items {
    margin: 0 !important;
    padding: 0 !important;
  }

  .menu {
    font-size: 2rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    color: $primary-color;
    background-color: $secondary-shadow-color;
  }
}

.mobile_navigation {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  max-width: 300px;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 21px $primary-active-color;
  background-color: $adaptive-dark2;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 1;
  transition: ease-out all 0.5s;
  overflow-y: scroll;

  &.hide {
    left: -120%;
    opacity: 0;
    transition: ease-in all 0.3s;

    .overlay {
      position: fixed;
      z-index: 9000;
      width: 0%;
      height: 100%;
      background-color: $adaptive-dark2;
      opacity: 0;
    }
  }

  ul {
    position: relative;
    z-index: 9500;
    padding: 0;
    overflow-y: scroll;

    li {
      list-style-type: none;
      border-bottom: thin solid $primary-color;

      &.active {
        background-color: $secondary-active-color;
      }
    }
  }

  .overlay {
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $adaptive-dark2;
    opacity: 0.4;
    transition: ease-out all 0.1s;
  }

  .close {
    color: white;
    font-size: 2rem;
    position: fixed;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    z-index: 9000;
    top: 3vh;
    right: 5vw;
    transition: ease all 0.5s;

    &.hide {
      right: -100%;
    }
  }
}
