@import "../../assets/sass/variables.scss";

.perk_item {
  .perk_icon {
    border-radius: 100%;
    color: $brand-color;
    background-color: $brand-shadow-color;
    width: 3.125rem;
    height: 3.125rem;
    min-width: 3.125rem;
    min-height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      width: 1.875rem;
      height: 1.875rem;
    }
  }
}

