.text-white {
  color: $adaptive-white !important;
}

.text-gray {
  color: $secondary-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-dark {
  color: $primary-color !important;
}

.text-danger {
  color: $danger-color !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.p-0 {
  padding: 0 !important;
}

.align-middle {
  vertical-align: middle !important;
}

.list-style-none {
  list-style-type: none !important;
}

.bg-light {
  background-color: $secondary-shadow-color !important;
}

.bg-light-1 {
  background-color: $adaptive-white2 !important;
}

.bg-blue {
  background-color: $brand-color !important;
}

.bg-dark-blue {
  background-color: $brand-active-color !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.font-size-14 {
  font-size: 0.875rem !important;
}

.font-size-18 {
  font-size: 1.125rem !important;
}
