.text-white {
  color: $adaptive-white !important;
}

.text-white-1 {
  color: $adaptive-white4 !important;
}

.text-gray {
  color: $secondary-color !important;
}

.text-dark-gray {
  color: $secondary-active-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-dark {
  color: $primary-color !important;
}

.text-primary {
  color: $brand-color !important;
}

.text-danger {
  color: $danger-color !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.p-0 {
  padding: 0 !important;
}

.align-middle {
  vertical-align: middle !important;
}

.list-style-none {
  list-style-type: none !important;
}

.bg-light {
  background-color: $secondary-shadow-color !important;
}

.bg-light-1 {
  background-color: $adaptive-white2 !important;
}

.bg-blue {
  background-color: $brand-color !important;
}

.bg-dark-blue {
  background-color: $brand-active-color !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.font-size-14 {
  font-size: 0.875rem !important;
}

.font-size-18 {
  font-size: 1.125rem !important;
}

.font-size-40 {
  font-size: 2.5rem !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.line-height-16 {
  line-height: 1rem !important;
}

.line-height-24 {
  line-height: 1.5rem !important;
}

.line-height-32 {
  line-height: 2rem !important;
}

.two-liner {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}

.three-liner {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}

.four-liner {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
}

.five-liner {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical !important;
}

.shadow {
  box-shadow: 0 2px 11px $secondary-shadow-color !important;
}
