:root {
  font-family: $body-font;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font !important;
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: $body-font;
}

h4 {
  font-size: 1.125rem;
  font-family: $body-font;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: $secondary-active-color;
}

i {
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $brand-color;
  transition: ease all 0.3s;

  &:hover {
    color: $brand-active-color;
  }
}

ul,
ol {
  li {
    font-family: $body-font;
    color: $primary-color;
    line-height: 1.875rem;
  }
}

strong {
  font-weight: 600;
}

blockquote {
  max-width: 33.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-style: italic;
  color: $brand-color;
  border-left: 4px solid $brand-active-color;
  padding: 1.5rem;
  padding-left: 2rem;
  font-family: $heading-font;
  line-height: 2.3rem;
}

hr {
  border: none;
  border-bottom: thin solid $secondary-color;
}
