:root {
  font-family: $body-font;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $primary-active-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-family: $body-font;
}

h4 {
  font-size: 1rem;
  font-family: $body-font;
}

p {
  font-size: 1rem;
  line-height: 1.875rem;
  color: $primary-color;
}

i {
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $brand-color;
  transition: ease all 0.3s;

  &:hover {
    color: $brand-active-color;
  }
}

ul,
ol {
  li {
    font-family: $body-font;
    color: $primary-color;
    line-height: 1.875rem;
  }
}
