.center {
    text-align: center;
}

.blog-flex-container {
    display: flex;
}
.author {
    &-card {
        width: 210px;
        height: 100px;

        .override-button-12 {
            .MuiButton-label {
                font-size: 0.75rem !important;
            }
        }
    }

    &-info {
        display: flex;
        align-items: center;
    }

    &-avatar {
        width: 64px;
        height: 64px;
        margin-right: 0.8rem;
        border-radius: 100%;
        background-color: #c4c4c4;
    }

    &-names {
        h5 {
            font-size: 1rem;
        }
        p {
            line-height: 1.2rem;
            font-size: 0.8rem;
        }
    }
    &-membership {
        p {
            font-size: 1rem;
        }
    }
}

.blog-post {
    p {
        color: rgba($color: #000000, $alpha: 0.6);
    }
    &-content {
        blockquote {
            max-width: unset !important;
            margin: 2rem 0rem;
            padding: 1rem;
        }
        p {
            margin: 1rem 0;
        }
        h2 {
            margin-top: 4rem;
            margin-bottom: 1rem;
        }
        img {
            max-width: 80% !important;
            display: block !important;
            margin: 2rem auto !important;
        }
    }
}
