@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #1e354d;
$primary-active-color: #031930;
$primary-shadow-color: #bfcbda;

$secondary-color: #6c8199;
$secondary-active-color: #425a74;
$secondary-shadow-color: #e0e8f1;

$adaptive-white: #ffffff;
$adaptive-white1: #fafcff;
$adaptive-white2: #f6f9fc;
$adaptive-white3: #e3e9f0;
$adaptive-white4: #d1d5db;

$brand-color: #15b0de;
$brand-active-color: #007bbf;
$brand-shadow-color: #b5ebfc;

$danger-color: #ec3558;
$danger-active-color: #ce0000;
$danger-shadow-color: #ffb0bf;

$warning-color: #fcc70e;
$warning-active-color: #dbc025;
$warning-shadow-color: #ffe27b;

$success-color: #28a745;
$success-active-color: #148b30;
$success-shadow-color: #b0e9bd;
$success-bg-color: #daffe2;

$adaptive-dark: #10171d;
$adaptive-dark1: #21272d;
$adaptive-dark2: #182336;

$heading-font: "Inter", sans-serif;
$body-font: "Inter", sans-serif;
